.tab-panel {
    border: 2px solid rgb(0, 255, 213);
    box-shadow: 0 0 10px rgb(0, 255, 213), inset 0 0 10px rgb(0, 255, 213);
    padding: 10px;
    border-radius: 4px;
  }
   
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
   
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
   
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
   
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
   
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }
   
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
   
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
   
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: rgba(30, 23, 57, 0.5);
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }

  .gallery {
    height: 550px;
  }